<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | Quiz app</title>

    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />

    <link href="https://fonts.googleapis.com/css?family=Pangolin:400,700|Proxima+Nova" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <aside>
        <h3>WPR</h3>
        <header>
            <h2>HTML Quiz</h2>
        </header>

        <ul>
            <li><a class="active" href="/"><i class="far fa-question-circle"></i> All questions</a></li>
            <li><a href="/add"><i class="far fa-plus"></i> New question</a></li>
        </ul>
    </aside>

    {{{body}}}
</body>

</html>